<!DOCTYPE html>
<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <body ng-app="healthApp" ng-controller="healthCtrl">

        
                    <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#census" aria-controls="census" role="tab" data-toggle="tab">Census</a></li>
                      <li role="presentation"><a href="#hospitals" aria-controls="hospitals" role="tab" data-toggle="tab">Hospitals</a></li>
                      <li role="presentation"><a href="#airquality" aria-controls="airquality" role="tab" data-toggle="tab">Environment</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="census">
                          <div ng-include="'views/census.html'"></div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="hospitals">
                          <ng-include src='view'></ng-include>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="airquality">...</div>
                    </div>

<input type="button" ng-click="changeView('views/census.html')" value="census"/>
<input type="button" ng-click="changeView('views/hospitals.html')" value="hospitals"/>
        
            
        <script src='controllers/healthCtrl.js'></script>
        <script src='controllers/censusCtrl.js'></script>
        <script src='controllers/hospitalsCtrl.js'></script>
        
    </body>


<script>
//var app = angular.module('boxApp', []);
//app.controller('boxCtrl', function($scope,$http) {
//
//  $scope.censusTableIDs = {
//    'B01003':'PopInfo',
//    'B19013':'IncInfo',
//    'B01002':'AgeInfo'
//  };
//
//  tableSet = '';
//
//  for (eachKey in $scope.censusTableIDs) {
//    if (tableSet == '')
//      tableSet = eachKey;
//    else
//      tableSet = tableSet + ',' + eachKey;
//  }
//
//  $scope.getData = function () {
//    $http.get('http://api.censusreporter.org/1.0/data/show/latest?table_ids='+tableSet+'&geo_ids=86000US'+$scope.curZip+'&primary_geo_id=86000US'+$scope.curZip)
//      .success(function(response) {
//        for (eachKey in $scope.censusTableIDs) {
////          $scope[$scope.censusTableIDs[eachKey]] = response['data']['86000US'+$scope.curZip][eachKey]['estimate'][eachKey+'001'];
//        }
//      });
//
//    // Fill out tab fields as needed
//    // Pull hospital data
//    // Fill out tab fields as needed
//    // Pull air quality data
//    // Fill out tab fields as needed
//  }
//
//
//});
</script>

</body>

</html>
